PosCFG/bin
PosCFG/obj
.vscode
PosCFG/appsettings.json
PosCFG/appsettings.Development.json
PosCFG/PosCFG.csproj
PosCFG/obj/PosCFG.csproj.nuget.dgspec.json
PosCFG/obj/project.nuget.cache
PosCFG/obj/project.nuget.cache

IdentityApi/obj
IdentityApi/bin
IdentityServer/bin
IdentityServer/obj
IdentityServerAspNetIdentity/bin
IdentityServerAspNetIdentity/obj
MVCClient/bin
MVCClient/obj

IdentityServerAdminUI/src/IdentityServerAdminUI.Admin/bin
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin/obj
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin/node_modules

IdentityServerAdminUI/src/IdentityServerAdminUI.Admin.Api
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin.EntityFramework.MySql
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin.EntityFramework.Shared/bin
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin.EntityFramework.Shared/obj
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin.EntityFramework.PostgreSQL
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin.EntityFramework.SqlServer/bin
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin.EntityFramework.SqlServer/obj
IdentityServerAdminUI/src/IdentityServerAdminUI.STS.Identity
IdentityServerAdminUI/src/IdentityServerAdminUI.Admin/Log\\skoruba_admin.txt

PosCFG.code-workspace
RazorPagesSystemPOS/*

FileWatcherService/bin
FileWatcherService/obj

TDSParse/bin
TDSParse/obj
